!/.idea/
!/src/test/
!/target/
!/.idea/compiler.xml
!/.idea/encodings.xml
!/.idea/jarRepositories.xml
!/.idea/misc.xml
!/.idea/vcs.xml
/target/classes/de/dopebrot/cubed/command/CalculateBlocksCommand.class
/.idea/compiler.xml
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/classes/de/dopebrot/cubed/cubes/Cube.class
/target/classes/de/dopebrot/cubed/command/CubeCommand.class
/target/classes/de/dopebrot/cubed/world/CubeGenerator.class
/.idea/encodings.xml
/target/classes/de/dopebrot/cubed/command/HelpCommand.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/.idea/jarRepositories.xml
/target/classes/de/dopebrot/cubed/Main.class
/.idea/misc.xml
/target/classes/plugin.yml
/target/maven-archiver/pom.properties
/target/classes/de/dopebrot/cubed/command/TeleportCommand.class
/.idea/vcs.xml
/.idea/workspace.xml
/target/classes/de/dopebrot/cubed/world/WorldGenerator$1.class
/target/classes/de/dopebrot/cubed/world/WorldGenerator.class
